@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* globales */
body{
    color: #3C3C3C;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
}

/* header */
header{
    width: 1100px;
    margin: auto;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center; /* centrar en vertical */
}
    header a{
        color: #3C3C3C;
        font-weight: 600;
    }
        header a img{
            margin-right: 16px;
            vertical-align: middle;
        }
        header nav a{
            padding: 8px;
        }
    
/* main */
main{
    width: 1100px;
    margin: auto;
}

/* hero-banner */
#hero-banner{
    height: 500px;
    background-image: url(../imgs/hero-banner-2.jpg);
    background-size: cover;
    background-position: 0 center;
    display: flex;
    align-items: center;
}
    #hero-banner h1{
        color: #fff;
        font-size: 32px;
        margin-left: 100px;
    }

/* promos */
#promos{
    height: 450px;
    margin-top: 56px;
    background-color: #FCF0DE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    #promos article{
        width: 290px;
    }
    #promos article h2{
        font-size: 16px;
        margin: 24px 0px 16px 0px;
    }

/* destinos */
#destinos{
    margin-top: 56px;
}
    #destinos article{
        display: flex;
        margin-top: 32px;
    }
    #destinos article div{
        width: 340px;
        margin: 96px 0px 0px 104px;
    }
    #destinos article div h2{
        font-size: 16px;
    }
    #destinos article div p{
        text-align: justify;
        margin-top: 16px;
    }
    #destinos article div a{
        border: 1px solid #3C3C3C;
        border-radius: 12px;
        display: block;
        width: 140px;
        margin: 24px auto 0px auto;
        padding: 6px 0px;
        text-align: center;
        color: #3C3C3C;
        transition: 500ms;
    }
    #destinos article div a:hover{
        background-color: #3C3C3C;
        color: #fff;
    }

/* servicios */
#servicios{
    width: 732px;
    margin: auto;
    margin-top: 56px;

    display: flex;
    flex-wrap: wrap;  /* respeta los anchos */
}
    #servicios h2{
        text-align: center;
        width: 100%;
    }
    #servicios a{
        width: 160px;
        height: 140px;
        display: block;
        border: 1px solid #3C3C3C;
        border-radius: 12px;
        margin: 40px;
        text-align: center;
        color: #3C3C3C;
        transition: 300ms;
    }
    #servicios a:hover{
        background-color: #DE6C42;
        color: #fff;
        border: 1px solid #983a18;
    }


    .material-symbols-outlined{
        font-size: 56px;
        margin: 20px;
    }

/* mapa */    
#mapa iframe{
    width: 1100px;
    height: 580px;
    border: none;
    margin-top: 56px;
}

/* contacto */
#contacto{
    margin-top: 56px;
    height: 450px;
    background-color: #EC7D54;

    display: flex;
    justify-content: center;
    align-items: center;
}
    #contacto span{
        font-size: 24px;
        color: #fff;
    }

    #contacto form{
        width: 550px;
    }
    #contacto form input,
    #contacto form textarea
    {
        width: 550px;
        margin-top: 16px;
        padding: 8px;
        background-color: #F8A281;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #fff;
        border: none;
    }
    #contacto form input::placeholder,
    #contacto form textarea::placeholder
    {
        color: #fff;
    }
    #contacto form textarea{
        height: 152px;
        resize: none;
    }
    #contacto form button{
        width: 212px;
        margin-top: 20px;
        padding: 8px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        border-radius: 8px;
        border: 1px solid #CD5F35;
        background-color: #fff;
        cursor: pointer;
        transition: 500ms;
    }
    #contacto form button:hover{
        background-color: #ffd569;
    }


/* footer */
footer{
    width: 1100px;
    height: 160px;
    margin: auto;
    background-color: #3c3c3c;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
    footer a{
        color: #fff;
    }
    footer a img{
        vertical-align: middle;
        margin: 0px 8px 0px 16px;
    }
    footer div a{
        margin: 16px;
    }

